<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>user register</title>
</head>

<body>



<div>Day: {{screamIt day}}, Month: {{month}}, Year: {{getCurrentYear}}</div>

{{>footer}}
</body>
</html>